<h3>Create a New Herb</h3>

<%= form_with model: @herb, local: true do |form| %>

  <%= form.label :name %>
  <%= form.text_field :name%>
  <br />
  <%= form.radio_button :is_watered, "yes"%>
  <%= form.label :is_watered, "Herb is watered"%>
  <br />
  <%= form.radio_button :is_watered, "no"%>
  <%= form.label :is_watered, "Herb is not watered"%>
  <br />
  <%= form.submit 'Add Herb'%>
  <%= form.submit 'Clear', :type => 'reset' %>
<% end %>

<br />
<p>Back to <%= link_to 'All the Herbs', herbs_path %></p>
